 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}
.margin{
    margin: 1.5rem 2.5rem;
}
nav{
    height: 10vh;
    display: flex;
}
.logo, ul{
    width: 50%;
}
.logo h5{
    font-size: 1.5rem;
}
nav ul{
    display: flex;
    justify-content: flex-end;
}
nav li{
    padding: 0 20px;
    list-style-type: none;
}
nav li a{
    text-decoration: none;
    color: #333;
}
.home-img{
    height: 80vh;
}
.home-img img{
    object-fit: contain;
}